.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  border-radius: 10px;
  margin-left: 2%;
  margin-bottom: 2%;
  background-color: #26001B;
  z-index: 5;
  font-size: 130%;

  width: 15rem;
  height: 25rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-card {
  width: 100%;
  height: 50%vmin;
  border-radius: 10px 10px 0 0;
}

.container {
  width: 100%;
  height: 32%;
  padding: 2px 16px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;

}

h4.title {
  text-decoration: underline;
  font-size: 1.3rem;
  color: #FF005C;
}

p.price {
  color: #810034;
  background-color: #FFF600;
  padding: 0.5rem 0.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  font-weight: bold;
}

@media (max-width:600px) {
  .card {
    font-size: 110%;
  }
}

@media (min-width:601px) {
  .card {
    font-size: 130%;
  }
}