div.course {
  width:100%;
  height: 80%;
  background: linear-gradient(135deg, rgba(212, 162, 191, 0.5) 30%, rgba(84, 44, 68, 1) 70%);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: auto;
}

.course-video-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 80%;

  border: 2px solid rgba(84, 44, 68, 1);
}

.course-video-items {
  width: 40%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(212, 162, 191, 0.5);
}

.video1,
.video2,
.video3,
.video4,
.video5,
.video6 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 80%;
  height: 20%;
  border: 2px solid rgba(212, 162, 191, 0.5);
}

.course-img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80vmin;
  background: url(../img/digital-course.jpg) no-repeat center center/contain;
}

.course-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 40%;
  height: 80%;
  color: rgba(212, 162, 191, 0.5);
}

button.add-to-cart-btn {
  border: 3px solid rgba(212, 162, 191, 0.5);
}

@media (max-width:600px) {
  div.course {
    flex-direction: column;
  }

  .course-description-container,
  .course-img-container {
    width: 90%;
    font-size: 150%;
  }

  button.add-to-cart-btn {
    font-size: 150%;
  }
}