footer {
  width:100vw;
  height: 10vh;
  background-color: rgba(84, 44, 68, 0.8);
  border-top: 3px solid #D45F8F;
  color: #D4A2BF;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 150%;

}

@media (max-width:600px) {
  footer {
    font-size: 150%;
  }
}