nav {
  width:100vw;
  height: 10vh;
  background-color: #26001B;
  font-weight: bold;
  color: #FF005C;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 5px solid #FFF600;

  font-size: 150%;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  font-size: 100%;
  list-style: none;
  text-decoration: none;
  color: #FF005C;
}

li {
  color: #FF005C;
  padding: 1.3rem 2rem;
}

a {
  color: #FF005C;
  text-decoration: none;

}

.dark {
  background-color: #26001B;
}

.light {
  background-color: #26001B;
}

.btn-dark {
  color: white;
  background-color: #26001B;
  border: 2px solid coral;
}

.btn-light {
  background-color: #26001B;
  color: #542C44;
  
  border: 2px solid #333;
}

.link-dark {
  color: white;
}

.link-light {
  color: #542C44;

}

.h1-dark {
  color: coral;
}

.h1-light {
  color: #542C44;
}

.bg-dark {
  background-color: #26001B;
}

.bg-light {
  background-color: #26001B;
}

.home-con-dark
.about-con-dark {
  width: 100px;
  height: 100px;
  background-color: #26001B;
}

.home-con-light,
.about-con-light {
  width: 100px;
  height: 100px;
  background-color: #26001B;
}

img.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #FFF600;
}

li:hover {
  background-color: rgba(84, 44, 68, 0.1);
}

label.amount-of-items {
  width: 1rem;
  height: 1rem;
  border: 1px solid #26001B;
  border-radius: 50%;
  padding: 0 0.3rem;
  font-size: 100%;
  display: inline;
  margin-left: 4px;
}

label.amount-of-items-mobile {
  width: 1rem;
  height: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0 0.3rem;
  font-size: 100%;
  display: inline;
  margin-left: 4px;
}

img.no-logged-in-img {
  width: 80px;
  height: 80px;

  background: url(../img/no-logged-in-icon.png) no-repeat center center/contain;
}

img.logged-in-img {
  width: 50px;
  height: 50px;

  background: url(../img/logged-in-icon.png) no-repeat center center/contain;
}

@media (max-width:999px) {
  nav {
    display: none;
  }

  div.menu-wrap {
    display: flex;
  }
}

@media (min-width:1000px) {
  nav {
    display: flex;
  }

  div.menu-wrap {
    display: none;
  }
}
